body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:#000;
color:white;
}

header{
background:linear-gradient(90deg,#000,#b8860b);
padding:20px;
text-align:center;
}

header h1{
color:gold;
font-size:36px;
margin:5px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.hero{
background:linear-gradient(to right,#000,#333);
padding:60px;
text-align:center;
}

.btn{
background:gold;
color:black;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.section{
padding:40px;
text-align:center;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#111;
border:1px solid gold;
border-radius:15px;
margin:15px;
padding:15px;
width:250px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 20px gold;
}

.card img{
width:100%;
border-radius:10px;
}

.price{
color:gold;
font-size:20px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:green;
color:white;
padding:15px;
border-radius:50%;
font-size:20px;
text-decoration:none;
}

footer{
background:#111;
padding:20px;
text-align:center;
margin-top:30px;
border-top:1px solid gold;
  }
